.courseSelector {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.courseRow {
	display: flex;
	align-items: center;
	gap: 15px;
}

.courseLine {
	display: flex;
	width: 100%;
	border: none;
	border-top: 2px dotted #323945;
}

.signs {
	display: flex;
	gap: 12px;
}

.courseSign {
	padding: 8px 14px;
	border: 2px solid #323945;
	border-radius: 4px;
	white-space: nowrap;
}

.courseValue {
	white-space: nowrap;
}