.blockchainSection {
    background-color: #18202B;
    background-image: url('../../../shared/assets/blockchain.png');
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding: 180px;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;

    .card {
        display: flex;
        flex-direction: column;
        background-color: #1F252DD4;
        gap: 14px;
        padding: 25px;
        border-radius: 29px;
    }

    .title {
        padding-left: 12px;
        border-left: 2px solid var(--color-green);
    }
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .buttons {
        display: flex;
        gap: 20px;
    }
}